nav.black
  div.nav-wrapper
    a.brand-logo.center(href='/')
      img(src='/assets/images/logos/logo.png' height='64px')
    ul#nav-mobile.right.hide-hide-on-med-and-down
      li
        a(href='/players') Players
      li
        a(href='/roster') Roster
      if user
        li
          a(href='/dashboard') Dashboard
        li
          a(href='/logout') Logout
      else
        li
          a(href='/login') Login
include ../partials/flash.pug
