<!DOCTYPE html>
<!-- 
                                                          
                                                        
       444444444       000000000      333333333333333   
      4::::::::4     00:::::::::00   3:::::::::::::::33 
     4:::::::::4   00:::::::::::::00 3::::::33333::::::3
    4::::44::::4  0:::::::000:::::::03333333     3:::::3
   4::::4 4::::4  0::::::0   0::::::0            3:::::3
  4::::4  4::::4  0:::::0     0:::::0            3:::::3
 4::::4   4::::4  0:::::0     0:::::0    33333333:::::3 
4::::444444::::4440:::::0 000 0:::::0    3:::::::::::3  
4::::::::::::::::40:::::0 000 0:::::0    33333333:::::3 
4444444444:::::4440:::::0     0:::::0            3:::::3
          4::::4  0:::::0     0:::::0            3:::::3
          4::::4  0::::::0   0::::::0            3:::::3
          4::::4  0:::::::000:::::::03333333     3:::::3
        44::::::44 00:::::::::::::00 3::::::33333::::::3
        4::::::::4   00:::::::::00   3:::::::::::::::33 
        4444444444     000000000      333333333333333   
                                          

                                                        
  This is the E-Sports Manager "403: Forbidden" page.

  You can trigger this response from one of your controllers or policies with:
  `return res.forbidden( msg );`
  (where `msg` is an optional error message to include in the response)




-->
<html>
  <head>
    <title><%-title%></title>
    <!-- Foundation -->
    <link rel="stylesheet" type="text/css" href="/styles/plugins/bootstrap.css">
    <!-- Font-Awesome -->
    <link rel="stylesheet" type="text/css" href="/styles/plugins/font-awesome/css/font-awesome.css">
    <!-- Overrides -->
    <link rel="stylesheet" type="text/css" href="/styles/forbidden.css">
     <!-- jQuery -->
    <script type="text/javascript" src="/js/plugins/jquery.js"></script>
  </head>
  <body>
    <section class="forbidden">
      <form class="form-horizontal" role="form" method="post" action="/user/login">
        <div class="form-group">
          <center><strong>E-Sports</strong> <i class="fa fa-trophy fa-2x"></i> <strong>Manager</strong></center>
        </div>
        <div class="form-group">
          <h2 style="text-align: center;">
            Please log in to continue.
          </h2>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" name="email" placeholder="Email" required="">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" name="password" placeholder="Password" required="">
          </div>
        </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Sign in</button>
            &nbsp;
            <a href="/">I wanna go home!</a>
          </div>
        </div>
      </form>
    </section>
  </body>
</html>