<section class="promo">
	<span class="raster"></span>
	<div class="jumbotron e-promo">
		<div class="e-header container overlay">
			<h1>E-Sports Manager</h1>
			<p>Buy players, hire analysts, compete in tournaments, earn money and become the number one e-sports manager in the game.</p>
			<p><a href="#" class="btn btn-success btn-lg" role="button" data-toggle="modal" data-target="#signupModal">Register Now</a></p>
		</div>
	</div>
</section>
