/***** BODY *****/
/*TODO: Add body css here*/

/***** LINKS *****/
a {
	color: #73CAFF;
}

/***** NAVBAR *****/
.navbar {
	margin-bottom: 0;
}

/***** HEADER *****/

.e-promo {
	min-height: 380px;
	background: url('/images/background/promo.jpg') center center no-repeat;
}

.e-header h1 {
	color: #fff;
	letter-spacing: 2px;
}

.e-header p {
	font-size: 24px;
	text-align: left;
	font-weight: 400;
	color: #73CAFF;
}

.overlay {
	position: absolute;
}

/* image raster */
.raster {
	background-color:rgba(0,0,0, 0.75);
	background-image:url('/images/background/raster.png');
	position:absolute; 
	left:0; right:0; top:0; bottom:0;

	-webkit-transition: all 1s;
	   -moz-transition: all 1s;
		 -o-transition: all 1s;
			transition: all 1s;
}

/***** SECTIONS *****/

.promo {
	position: relative;
}

.players {
	background: #fff;
}

/***** COLORS *****/

.e-green {
	background: #2ecc71;
}

.e-blue {
	background: #2980b9;
}

.e-red {
	background: #e74c3c;
}

.e-purple {
	background: #9b59b6;
}

.e-orange {
	background: #e67e22;
}

.e-grey {
	background: #34495e;
}