/* Theme 1 */

.parallax-container {
  height: 380px;
}

.overlay {
  background-color: rgba(0,0,0,0.6);
}

.icon-block .material-icons {
  font-size: inherit;
}

.stars {
  font-size: 14px;
}

.fixed-action-btn {
  position: relative;
}

nav ul a.btn {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0 15px;
}

a.dropdown-button {
  text-transform: none;
}

ul.dropdown-content li a {
  text-align: center;
  color: black;
}

.small {
  font-size: 75%;
  font-weight: 300;
}

.strong {
  font-weight: bold;
}